@page
@model ContosoUniversity.Pages.Courses.IndexModel

@{
    ViewData["Title"] = "Courses";
}

<div class="index-tools">
    <div class="index-left-side">
        <h1>Courses</h1>

        <div class="create-button">
            <a asp-page="Create" class="btn btn-primary">Create New</a>
        </div>
    </div>
    <form asp-page="./Index" method="get">
        <div>
            <label for="SearchString">Поиск по курсам:</label>
            <input type="text" name="SearchString" id="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" />
            <a asp-page="./Index">Сбросить</a>
        </div>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.TitleSort">@Html.DisplayNameFor(model => model.PLCourses[0].Title)</a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.CreditsSort">@Html.DisplayNameFor(model => model.PLCourses[0].Credits)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PLCourses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Credits)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.CourseID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.CourseID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.CourseID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    string prevDisabled = Model.PLCourses.HasPreviousPage ? "" : "disabled";
    string nextDisabled = Model.PLCourses.HasNextPage ? "" : "disabled";
}
<a asp-page="./Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.PLCourses.PageIndex - 1)"
       asp-route-currentFilter="@Model.CurrentFilter"
       class="btn btn-primary @prevDisabled">
    Prev
</a>
<a asp-page="./Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.PLCourses.PageIndex + 1)"
       asp-route-currentFilter="@Model.CurrentFilter"
       class="btn btn-primary @nextDisabled">
    Next
</a>
