@page
@model ContosoUniversity.Pages.OfficeAssignments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OfficeAssignment[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficeAssignment[0].Instructor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OfficeAssignment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructor.FirstName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.InstructorID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.InstructorID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.InstructorID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
